@-webkit-keyframes NAME-YOUR-ANIMATION {
  49% { opacity: 1; }
  85%   { opacity: 0; }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  49% { opacity: 1; }
  85%   { opacity: 0; }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  49% { opacity: 1; }
  85%   { opacity: 0; }
}
@keyframes NAME-YOUR-ANIMATION {
  49% { opacity: 1; }
  85%   { opacity: 0; }
}

#Numberlist.dropdown-menu{
min-width: 200px;
}

a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:black;
}

a:active {
    text-decoration: none;
    color:black;
}

body{
background-color: linear-gradient(0deg, rgba(0, 0, 0,1), rgba(0,0,0,0.7), rgba(255,255,255,0.7), rgba(255,255,255,0.9), rgba(255, 255, 255,1));
    background: url(DSC_0162b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.container-fluid{
    padding:none;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.navbar-bottom{
  margin-bottom:0;
  border-bottom-left-radius: none;
  border-bottom-left-radius: none;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

#hidden_content{
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease;
}

#hidden_content2{
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease;
}

#hidden_content3{
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease;
}

.panel{
  background-color:rgba(255,255,255,0.7) !important;
  color: black; text-shadow: white 0em 0em 2.5em !important;
  font-family:'Roboto', sans-serif;
      -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}


@media (min-width:767px){
.panel:hover{
     background-color:rgba(255,255,255,0.9) !important;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
}

@media (max-width:767px){
.panel:hover{
     background-color:rgba(255,255,255,0.8);
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-10{
  background-color:rgba(255,255,255,0.8);
  color: black; text-shadow: white 0em 0em 0.2em;
  font-family:'Roboto', sans-serif;
  border:1px solid black;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            overflow: hidden;
            padding-left: 1vw;
            padding-right: 1vw;
            height:auto !important;
                        /*margin-bottom:1vw;*/

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10{
            overflow: hidden;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            padding-left: 1vw;
            padding-right: 1vw;
            height:auto !important;

                        /*margin-bottom:1vw;*/
}

@media (min-width:768px) and (max-width:992px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-10{
     background-color:rgba(255,255,255,0.9);
  }
  .panel{
 background-color:rgba(255,255,255,0.9) !important;
  }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-10{
  overflow:hidden;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            padding-left: 10vw;
            padding-right: 10vw;
            margin-bottom:1em;

            /*margin-bottom:1vw;*/
}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10{
/* background-color:rgba(255,255,255,0.85) !important;*/
 padding-left:10vw;
 padding-right:10vw;
}
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-10{
  overflow:hidden;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            /*margin-bottom:1vw;*/
}

@media (min-width:992px) and (max-width:1200px){

  .panel{
     background-color:rgba(255,255,255,0.85) !important;
  }

  .panel:hover{
     background-color:rgba(255,255,255,0.95) !important;
  }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-10{
     padding-left:2vw;
     padding-right:2vw;
     margin-bottom:1em;
     margin-left:10vw !important;
     margin-right:10vw !important;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10{
padding-left:2vw;
padding-right:2vw;
margin-bottom:1em;
}
}

/*Here you get to change padding of the boxes*/

@media (max-width:767px){

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-10, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-10, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-8, .col-lg-10{
            padding-left: 5vw;
            padding-right: 4vw;
            margin-left:0px !important;
  }
}

/*.col-lg-1 br, .col-lg-2 br, .col-lg-3 br, .col-lg-4 br, .col-lg-5 br, .col-lg-6 br, .col-lg-8 br, .col-lg-10 br{
  content: "";
  margin: 0em;
  display: block;
  font-size: 0%;
}*/

.row > .col-md-1:first-child, .row > .col-md-2:first-child, .row > .col-md-3:first-child, .row > .col-md-4:first-child, .row > .col-md-5:first-child, .row > .col-md-6:first-child, .row > .col-md-8:first-child, .row > .col-md-1:first-child0{
            overflow: hidden;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            border-radius: 100px 10px 100px;
}

 .row > .col-md-1:first-child  img, .row > .col-md-2:first-child  img, .row > .col-md-3:first-child  img, .row > .col-md-4:first-child  img, .row > .col-md-5:first-child  img, .row > .col-md-6:first-child  img, .row > .col-md-8:first-child  img, .row > .col-md-1:first-child  img{
            overflow: hidden;
border-radius: 100px 10px 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .row > .col-md-1:last-child  img, .row > .col-md-2:last-child  img, .row > .col-md-3:last-child  img, .row > .col-md-4:last-child  img, .row > .col-md-5:last-child  img, .row > .col-md-6:last-child  img, .row > .col-md-8:last-child  img, .row > .col-md-1:last-child  img{
            overflow: hidden;
border-radius: 10px 100px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .row > .col-sm-1:first-child  img, .row > .col-sm-2:first-child  img, .row > .col-sm-3:first-child  img, .row > .col-sm-4:first-child  img, .row > .col-sm-5:first-child  img, .row > .col-sm-6:first-child  img, .row > .col-sm-8:first-child  img, .row > .col-sm-1:first-child  img{
            overflow: hidden;
border-radius: 100px 10px 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .row > .col-sm-1:last-child  img, .row > .col-sm-2:last-child  img, .row > .col-sm-3:last-child  img, .row > .col-sm-4:last-child  img, .row > .col-sm-5:last-child  img, .row > .col-sm-6:last-child  img, .row > .col-sm-8:last-child  img, .row > .col-sm-1:last-child  img{
            overflow: hidden;
border-radius: 10px 100px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .row > .col-lg-1:first-child  img, .row > .col-lg-2:first-child  img, .row > .col-lg-3:first-child  img, .row > .col-lg-4:first-child  img, .row > .col-lg-5:first-child  img, .row > .col-lg-6:first-child  img, .row > .col-lg-8:first-child  img, .row > .col-lg-1:first-child  img{
            overflow: hidden;
border-radius: 100px 10px 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .row > .col-lg-1:last-child  img, .row > .col-lg-2:last-child  img, .row > .col-lg-3:last-child  img, .row > .col-lg-4:last-child  img, .row > .col-lg-5:last-child  img, .row > .col-lg-6:last-child  img, .row > .col-lg-8:last-child  img, .row > .col-lg-1:last-child  img{
            overflow: hidden;
border-radius: 10px 100px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (min-width:767px){

.col-md-1:hover, .col-md-2:hover, .col-md-3:hover, .col-md-4:hover, .col-md-5:hover, .col-md-6:hover, .col-md-7:hover, .col-md-8:hover, .col-md-10:hover{
     -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
                  border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.col-sm-1:hover, .col-sm-2:hover, .col-sm-3:hover, .col-sm-4:hover, .col-sm-5:hover, .col-sm-6:hover, .col-sm-7:hover, .col-sm-8:hover, .col-sm-10:hover {
     -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
              background-color:rgba(255,255,255,0.9);
              overflow: hidden;
                border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-lg-1:hover, .col-lg-2:hover, .col-lg-3:hover, .col-lg-4:hover, .col-lg-5:hover, .col-lg-6:hover, .col-lg-8:hover, .col-lg-10:hover {
     -webkit-transition: all 0.3s ease-in;
       -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
         -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
              background-color:rgba(255,255,255,0.9);
              overflow: hidden;
                border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-lg-1:hover, .col-lg-2:hover, .col-lg-3:hover, .col-lg-4:hover, .col-lg-5:hover, .col-lg-6:hover, .col-lg-8:hover, .col-lg-10:hover {
     -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
/*              background-color:rgba(255,255,255,0.9);*/
background-color: black;
              overflow: hidden;
                border-radius: 10vw;
  border-style:solid;
  border-width:1px;
  border-color:black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-lg-1:hover img, .col-lg-2:hover img, .col-lg-3:hover img, .col-lg-4:hover img, .col-lg-5:hover img, .col-lg-6:hover img, .col-lg-8:hover img, .col-lg-10:hover img{

  /* bring your own prefixes */
      -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
            transform: scale(1.3);
  z-index: 9999999 !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-lg-1:hover img, .col-lg-2:hover img, .col-lg-3:hover img, .col-lg-4:hover img, .col-lg-5:hover img, .col-lg-6:hover img, .col-lg-8:hover img, .col-lg-10:hover img{
       -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
         -o-transition: all 2s ease;
            transition: all 2s ease;
    transform: scale(1.65);
  }

.col-md-1:hover img, .col-md-2:hover img, .col-md-3:hover img, .col-md-4:hover img, .col-md-5:hover img, .col-md-6:hover img, .col-md-8:hover img, .col-md-10:hover img{

  /* bring your own prefixes */
      -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
            /*transform: scale(1.3);*/
            transform: scale(1.65);
  z-index: 9999999 !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-sm-1:hover img, .col-sm-2:hover img, .col-sm-3:hover img, .col-sm-4:hover img, .col-sm-5:hover img, .col-sm-6:hover img, .col-sm-8:hover img, .col-sm-10:hover img{

  /* bring your own prefixes */
      -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
         -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
            transform: scale(1.3);
  z-index: 9999999 !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
}

h3{
  padding-bottom:0.5vw;
}

h4 {
  padding-top:0.45vw;
}

a{
border-bottom:1px solid transparent;
  transition: 0.3s ease-in-out;
}

a:hover{
border-bottom:0.1vw solid black;
}

  @media(min-width:1200px){

h1, h2{
    border-width:1px;
  border-style:solid;
  border-color:transparent;
  position:relative;
            background-image: -moz-linear-gradient(left, rgba(0, 255, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0.8)), color-stop(85%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(left, rgba(0, 255, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(left, rgba(0, 255, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(left, rgba(0, 255, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  /* IE10+ */
  background-image: linear-gradient(to right, rgba(0, 255, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  /* W3C */
      padding-top:0.6vw;
  padding-bottom:0.6vw;
      -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index:100;
}

h1:before, h2:before{
content:'';
position:absolute;
display:block;
height:100%;
width:100%;
top:0;
left:0;
      background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);

  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0.8)), color-stop(85%, rgba(255, 255, 255, 0)));

  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);

  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);

  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 85%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.9) 49%, rgba(255, 255, 255, 0) 85%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);

    opacity:0;
  z-index:-100;
  transition: opacity 1.0s;
}

h1:hover:before, h2:hover:before {
  opacity:1;
}

a h1, a h2{
/*  content:'';*/
  position:relative;
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(49%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0) 75%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
            z-index:100;
}

a h1:before{
content:'';
position:absolute;
display:block;
height:100%;
width:100%;
top:0;
left:0;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 50, 200, 1)), color-stop(100%, rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 50, 200, 1) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 50, 200, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    opacity:0;
  z-index:-100;
  transition: all 0.5s ease;
}

a h2:before{
content:'';
position:absolute;
display:block;
height:100%;
width:100%;
top:0;
left:0;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 150, 50, 1)), color-stop(100%, rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(50, 150, 50, 1) 0%, rgba(50, 150, 50, 1) 49%, rgba(50, 150, 50, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    opacity:0;
  z-index:-100;
  transition: all 0.5s ease;
}

a h1:hover:before, a h2:hover:before {
  opacity:0.9;
}

a h1:hover{
  padding:1vw;
  border-width:1px;
  font-size:2.3vw;
  color:rgba(225,225,225) !important;
  text-shadow: black 0em 0em 1.2em;
        -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

border-color:rgba(200,200,200,1);
              box-shadow: 0 10px 300px -20px rgba(255,255,255);
  margin-left:25vw;
  margin-right:25vw;
}

a h2:hover{
  padding:1vw;
  border-width:1px;
  font-size:2.3vw;
  color:rgba(235,235,235) !important;
  text-shadow: black 0em 0em 1.2em;
        -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

border-color:rgba(200,200,200,1);
              box-shadow: 0 0px 300px -20px rgba(255,255,255);
  margin-left:25vw;
  margin-right:25vw;
}
}


.panel-yalo{
    padding-top:12px;
  padding-bottom:12px;
}

h1 {color: black; text-shadow: white 0em 0em 0.5em;}

iframe {
    height: 45vw; /* 100/56.25 = 560/315 = 1.778 */
  border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
}

video {
    border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
  width:85%;
  preload:auto;
}

img {
  display:inline-block;
  overflow:hidden;
  backface-visibility:hidden;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    vertical-align: middle;
      border-radius: 10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
  max-width:100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


@media (min-width: 992px) {

  .sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    background-color: rgba(255,255,255,0.85);
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;

}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

  }


  @media (max-width:1200px){
    body{
    font-size: 1.1em;
  }

  h1{
    font-size:2.2em;
  }

  h2{
    font-size:2em;
  }


    h1, h2{
    border-width:1px;
  border-style:solid;
  border-color:transparent;
  position:relative;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 85%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(255, 255, 255, 0.8)), color-stop(85%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 85%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 85%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 85%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 85%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */

      -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

a h1{
  padding:1vw;
  border-width:1px;
  border-color:rgb(0,0,0);
  font-size:2.5em;
  color:rgba(215,215,215) !important;
  text-shadow: black 0em 0em 1.2em;
  margin-top:1.5em;
  margin-left:15vw;
  margin-right:15vw;
/*      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 50, 200, 1)), color-stop(100%, rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 50, 200, 1) 49%, rgba(0, 0, 0, 0) 100%);*/
  background: rgba(0, 50, 150, 1);

/*  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);*/
    opacity:1;
  z-index:101;
  transition: all 0.5s ease;
}

a h2{
  opacity:1;
  padding:1vw;
  border-width:1px;
  border-color:black;
  font-size:2em;
  color:rgba(235,235,235) !important;
  text-shadow: black 0em 0em 1.2em;
  margin-left:5vw;
  margin-right:5vw;
/*      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 150, 50, 1)), color-stop(100%, rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 150, 50, 1) 49%, rgba(0, 0, 0, 0) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);*/
    background: rgba(0, 135, 50, 1);
    opacity:1;
  z-index:101;
  transition: all 0.5s ease;
}
  }

  h1, h2{
          padding-top:0.5vw;
  padding-bottom:0.5vw;
  }


@media (max-width: 767px) {
    footer .text-left { text-align:center }
/*
    .row{
      padding-top:10px;
      padding-bottom:10px;
    }*/

    video{
      width:100% !important;
    }
    img{
      width:100%;
    }
    iframe{
      width:100% !important;
      height:70vw !important;
    }

    body{
      background: url(#) !important;
      /*background: linear-gradient(0deg, rgba(0, 0, 0,1), rgba(255, 255, 255,1)) !important;*/
      background-color: black !important;
    }

    h1{
      font-size: 5vw ;
    }

    h2{
      font-size: 4vw;
    }

    h5 {
      font-size:2.5vw;
      margin:;
    }

        h1, h2{
    border-width:1px;
  border-style:solid;
  border-color:transparent;
  position:relative;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 95%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(255, 255, 255, 0.8)), color-stop(95%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 95%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 95%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 95%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(255, 255, 255, 0.8) 49%, rgba(0, 0, 0, 0) 95%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
      padding-top:1.5vw;
  padding-bottom:1.5vw;
      -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

}

    @media(max-width:768px){
    a h1, a h2{
      padding:0.4em;
    }

    }

      @media (min-width:992px) and (max-width:1200px){
        body{
    font-size: 0.77vw;
  }

h4{
  font-size:1vw;
}

h5{
  font-size:1vw;
}

  }

  @media(min-width:1200px){
    body{
      font-size:0.78vw; <!-- 0.72 0.74 0.87 -->
    }
    h1{
      font-size:2.1vw; <!-- 2.2 2.5 -->
    }
    h2{
      font-size:1.7vw; <!-- 1.8 2 -->
    }

    h4{
      font-size:1vw; <!-- 1.1 1.2 -->
    }

    h5{
      font-size:0.8vw; <!-- 0.9 0.97 -->
    }
  }



/*
   @media (min-width: 992px){
body{
  font-size:8px;
}
}

  @media (min-width: 1024px){
body{
  font-size:8.5px;
}
}

  @media (min-width: 1080px){
body{
  font-size:9px;
}
}

  @media (min-width: 1140px){
body{
  font-size:10px;
}
}

  @media (min-width: 1200px){
body{
  font-size:10.5px;
}
}

  @media (min-width: 1280px){
body{
  font-size:11px;
}
}

  @media (min-width: 1360px){
body{
  font-size:11.5px;
}
}

  @media (min-width: 1400px){
body{
  font-size:12px;
}
}

@media (min-width: 1440px){
body{
  font-size:12.5px;
}
}

@media (min-width: 1680px){
body{
  font-size:13px;
}
}

@media (min-width: 1800px){
body{
  font-size:13.5px;
}
}

@media (min-width: 1920px){
body{
  font-size:14px;
}
}

@media (min-width: 2160px){
body{
  font-size:15px;
}
}

@media (min-width: 2304px){
body{
  font-size:16px;
}
}

@media (min-width: 2550px){
body{
  font-size:17px;
}
}

@media (min-width: 2880px){
body{
  font-size:18px;
}
}

@media (min-width: 3200px){
body{
  font-size:19px;
}
}

@media (min-width: 3400px){
body{
  font-size:20px;
}
}

@media (min-width: 3600px){
body{
  font-size:21px;
}
}

@media (min-width: 3800px){
body{
  font-size:22px;
}
}
*/

div:hover {
  z-index:999999;
}

.nayol{
  border:none;
}

.wrapper{
  overflow-x:hidden;
}

/*navbar css*/

.navbar-static-top{
      border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* navbar */
.navbar-inverse {
    background-color: rgba(255,255,255,0.75);
    border-color: rgba(255,255,255,0.4);
}
/* Title */
.navbar-inverse .navbar-brand {
    color: #777;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-inverse .navbar-nav > li > a {
    color: #555;
              -webkit-transition: all 0.1s ease;
       -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
         -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
            padding-top:10px;
            padding-bottom:10px;
            margin-top:5px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
background-color: rgba(255,255,255,0.5);
border-radius: 35px;
}

.navbar-inverse .navbar-nav > li > a:after,
.navbar-inverse .navbar-nav > li > a:focus:after {
      display: block;
    content:'';
    border-bottom: #555 1.5px solid;
    margin-top:1px;
    transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin:50% 0%;
}

.navbar-inverse .navbar-nav > li > a:hover:after,
.navbar-inverse .navbar-nav > li > a:focus:hover:after {
transform: scaleX(1);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
    background-color: white;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: rgba(255,255,255,0.5);
    border-radius: 35px;
}
/* Caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #555;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;

}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #666;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:not(.dropdown-toggle) {
        color: #777;
            background-color: rgba(255,255,255,0.85);
        border-radius: 10px 30px 50px;
  border-style:solid;
  border-width:1px;
  border-color:rgba(0,0,0,0.5);
          -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

.navbar-nav>li>.dropdown-menu {
            background-color: rgba(255,255,255,0.9);
        border-radius: 10px 15px 25px;
  border-style:solid;
  border-width:1px;
  border-color:rgba(0,0,0,0.5);
          -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        border-radius: 100px;
    background-color: rgba(255,255,255,0);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:not(.dropdown-toggle) {
    position:relative;
    display:inline-block;
    color: #262626;
    background-color: rgba(255,255,255,0);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:not(.dropdown-toggle):after {
    display: block;
    content:'';
    border-bottom: #555 1.5px solid;
    margin-top:1px;
    transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin:0% 50%;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:not(.dropdown-toggle):hover:after {
transform: scaleX(1);
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:active {
    border-radius: 0px;
    background-color: rgba(255,255,255,0);
    border-bottom: none;
}

@media (min-width: 1200px) {

.text{
    opacity:0;
      font-weight: 400 !important;
    z-index: 1;
    position: absolute;
    font-size:2vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
background-color:rgba(255,255,255,0.75) !important;
    color: white; text-shadow: white 0em 0em 0.5em;
  font-family:'Roboto', sans-serif !important;
  padding-top:0.25em;
  padding-bottom:0.25em;
  padding-left:0.5em;
  padding-right:0.5em;
  border-radius: 1px !important;
  border-style:solid;
  border-width:1px;
  border-color:black;
      -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken img {
    display: block;
    
    -webkit-transition: all 0.5s ease !important;
       -moz-transition: all 0.5s ease !important;
        -ms-transition: all 0.5s ease !important;
         -o-transition: all 0.5s ease !important;
            transition: all 0.5s ease !important;
}

a.darken:hover img {
    opacity: 0.5 !important;           
}

.col-lg-1:hover img, .col-lg-2:hover img, .col-lg-3:hover img, .col-lg-4:hover img, .col-lg-5:hover img, .col-lg-6:hover img, .col-lg-8:hover img, .col-lg-10:hover img{
       -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
         -o-transition: all 2s ease;
            transition: all 2s ease;
    transform: scale(1.65);
  }
}

@media (max-width: 768px) {
  .text{
    opacity:0;
    z-index: 1;
    position: absolute;
    font-size:5vw !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
background-color:rgba(255,255,255,0.75) !important;
    color: white; text-shadow: white 0em 0em 0.5em;
  font-family:'Roboto', sans-serif !important;
  padding-top:0.25em;
  padding-bottom:0.25em;
  padding-left:0.5em;
  padding-right:0.5em;
  border-radius: 1px !important;
  border-style:solid;
  border-width:1px;
  border-color:black;
}
}

.row{
margin-top:1em;
}